<!-- <div *ngIf="currentFileUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
      aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%</div>
  </div> -->
  
  <!-- <label class="btn btn-default">
    <input type="file" (change)="selectFile($event)" nv-file-select="" accept=".csv">
  </label> -->

  <div>
  <file-drop headertext="Drop files here"  showBrowseBtn="true" (onFileDrop)="selectFile($event)" 
  (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
</file-drop>
</div>
  <!-- <button mat-raised-button color="primary" class="btn btn-success" [disabled]="!files"  (click)="upload()">Upload</button> -->
  {{msg}}
<br>
  <!-- <button class="btn btn-success"  (click)="showFiles(true)">Show your files</button> -->

<!-- <div *ngFor="let file of fileUploads | async"> -->
    <!-- <div class="panel-body"> -->
     <!-- <a href={{file}}>{{file}}</a> -->
        <!-- <app-details [fileUpload]='file'></app-details> -->
      <!-- </div> -->
      <!-- </div> -->